{% extends 'base.html.twig' %}
{% block title %}Tracks | {{ parent() }}{% endblock %}
{% block body %}
    <nav class="navbar">
        <ul class="nav navbar">
            <li class="nav-item">
                <a class="nav-link text-white" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/browse">Browse</a>
            </li>
        </ul>
    </nav>
    <h1> {{ title }} </h1>

    <div class="container-fluid">
        Tracks:
        <ul>
            {% for track in tracks %}
            <li>
                {{ track.song }} - {{ track.artist }}
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}